* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	font-family: rubik;
}

h1 {
	text-align: center;
	font-size: 54px;
}

li {
	list-style: none;
}

.container {
	max-width: 68rem;
	margin: 0 auto;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	gap: 1.6rem;
	width: 100%;
	padding-inline-start: 0;
}

.card a {
	box-shadow: rgb(0 0 0 / 27%) 0px 2px 4px;
	text-align: center;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	height: 14.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-id {
	color: gray;
	font-size: 0.8rem;
}

.card-title {
	text-transform: capitalize;
	font-size: 1.4rem;
	font-weight: normal;
	display: inline;
}

.card-image {
	width: 8rem;
	height: 8rem;
}

.abilities {
	margin-bottom: 0.5rem;
}

.abilities .types {
	padding: 0.2rem 1rem;
	border-radius: 4px;
	color: #fff;
	font-size: 0.9rem;
}

.steel {
	background-color: #aab;
}

.fire {
	background-color: #f42;
}

.grass {
	background-color: #7c5;
}

.electric {
	background-color: #fc3;
}

.ice {
	background-color: #6cf;
}
.water {
	background-color: #39f;
}

.ground {
	background-color: #db5;
}

.rock {
	background-color: #ba6;
}

.fairy {
	background-color: #e9e;
}

.poison {
	background-color: #a59;
}

.bug {
	background-color: #ab2;
}

.dragon {
	background-color: #76e;
}

.psychic {
	background-color: #f59;
}

.flying {
	background-color: #89f;
}

.fighting {
	background-color: #b54;
}

.normal {
	background-color: #aa9;
}

.ghost {
	background-color: #66b;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}